.main {
  width: 50%;
  margin-left: 25%;
}
h2 {
  text-align: left;
  font-size: 2.3rem;
  margin-bottom: 2%;
}
p,
a,
span {
  text-align: left;
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin-bottom: 2%;
}
