footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-top: 1px solid lightgrey;
  background-color: white;
  position: sticky;
  top: 100vh;
  margin-top: 30px;
  width: 100%;
  padding: 1% 10% 1% 10%;
}

footer a {
  font-family: 'Varela Round', sans-serif;
  text-decoration: none;
  color: black;
}
footer div {
  text-align: left;
}
footer li {
  margin-bottom: 5px;
}

footer p,
footer h2 {
  margin-bottom: 10px;
  font-family: 'Varela Round', sans-serif;
}
footer p:nth-child(1) {
  font-weight: 700;
}
span {
  font-family: 'Varela Round', sans-serif;
}
