@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  background-color: #ecf0f1;
  font-family: 'lato';
}
header {
  width: 100%;
  height: 200px;
  background-color: #2a6496;
  text-align: center;
  position: fixed;
  top: 0;
  overflow: hidden;
}
header h1 {
  font-size: 42px;
  color: #fff;
  line-height: 130px;
  text-transform: uppercase;
  font-weight: 100;
}
header nav {
  position: absolute;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
header nav a {
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  line-height: 1;
  text-decoration: none;
}
