@import url('https://fonts.googleapis.com/css2?family=Martel&display=swap');
body {
  background-color: #f1f1f5;
  min-height: 100vh;
}
header {
  display: grid;
  grid-template-columns: 60% 40%;
  background-color: white;
  padding-top: 8px;
  padding-bottom: 4px;
  min-height: 10vh;
  border-bottom: 1px solid lightgrey;
}
.logo {
  grid-column: 1 / 2;
  padding: 3% 2.5% 2.5% 10%;
}
.logo a {
  font-size: 2.5rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-family: 'Martel', serif;
  font-weight: 700;
}
.nav {
  grid-column: 2 / 3;
  position: relative;
  margin: 0 0 0 0%;
  /*background-color: green;*/
}
.nav ul {
  display: inline-block;
  width: 100%;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.nav ul li {
  display: inline;
  padding: 0 0 0 0%;
  margin-left: 4%;
}
.nav ul li a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-weight: 600;
  font-size: 1.1rem;
  font-family: 'Varela Round', sans-serif;
}
.underline {
  border-bottom: 2px solid #2a6496;
}
.nav ul li a:hover {
  border-bottom: 2px solid #2a6496;
}
.nav ul .loginbutton {
  margin: 0 0 0 10%;
  background-color: #2a6496;
  text-align: center;
  padding: 2%;
  border: 2px solid transparent;
  border-radius: 4px;
}
.nav ul .loginbutton:hover {
  background-color: white;
  border: 2px solid #2a6496;
}
.nav ul .loginbutton:hover > a {
  color: #2a6496;
  border: none;
}

.nav ul .loginbutton a {
  color: white;
  padding: 0;
}
@media (max-width: 1223px) {
  header {
    grid-template-columns: 50% 50%;
  }
}
@media (max-width: 979px) {
  header {
    grid-template-columns: 40% 60%;
  }
}
@media (max-width: 815px) {
  header {
    grid-template-columns: 30% 70%;
    background-color: red;
  }
}
