#contentAccount p {
  font-family: 'Varela Round', sans-serif;
  line-height: 2rem;
  text-align: left;
}
#showpasswordbtn {
  height: 20px;
  cursor: pointer;
}
#contentAccount {
  width: 900px;
  margin: 40px auto;
  border-radius: 10px;
  padding: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
#contentAccount .deze {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 600px;
  justify-content: space-between;
}

#wrongUsernamePassword,
#userExists,
#emailExists,
#passwordMatch,
#passwordShould,
#iets,
#iets2,
#emailEmpty {
  visibility: hidden;
  color: red;
}
#emailEmpty,
#emailExists {
  display: none;
}
input:not([type='submit']) {
  background: none;
  outline: none;
  border: 1px solid #eee;
  padding: 10px 5px;
  color: #444;
  font-size: 15px;
  font-family: 'Varela Round', sans-serif;
  z-index: 1;
}
#save {
  cursor: pointer;
  text-transform: uppercase;
  padding: 5px 50px;
  background: #2a6496;
  border-radius: 4px;
  color: #fff;
  border: 1px solid transparent;
  transition: 0.2s;
  height: 40px;
  font-family: 'Varela Round', sans-serif;
}
#save:hover {
  background-color: #fff;
  color: #2a6496;
  border: 1px solid #2a6496;
}

#remove {
  border: none;
  cursor: pointer;
  float: left;
  display: block;
  text-align: left;
  background-color: transparent;
}
#remove:hover {
  text-decoration: underline;
}
