.is-hidden {
  display: none;
}
#myInput {
  width: 30%;
  margin-left: 15%;
  margin-right: 1rem;
  margin-top: 10px;
  position: relative;
  padding: 10px;
  border: 1px solid grey;
  background: #f1f1f1;
  height: 40px;
}

.products-container {
  min-height: 300px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.shop-card {
  margin: 10px;
  width: 350px;
  height: 310px;
  background: #f5f5f5;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  transition: 1s;
}
.shop-card:hover {
  cursor: pointer;
}
.shop-card:hover > .desc {
  /*display: none;*/
  opacity: 1%;
}
.shop-card:hover > .product img {
  transform: scale(1.1);
  margin-top: 5%;
}
.shop-card .title {
  font-weight: 900;
  text-transform: uppercase;
  font-size: 23px;
  margin-bottom: 5px;
}
.shop-card .title .ondertitel {
  font-size: 18px;
}
.shop-card .desc {
  font-size: 15px;
  opacity: 0.8;
  color: #23211f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
.shop-card .desc div {
  width: 310px;
}
.shop-card .desc .solsleutel {
  width: 15%;
}
.shop-card .desc .instrument {
  width: 30%;
}
.onzichtbaar {
  position: absolute;
  color: transparent;
}
.product {
  margin: 10px 0;
}

.product img {
  width: 100%;
  object-fit: contain;
  transition: 1s;
}

.dropbtn {
  background-color: #2a6496;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin: auto;
  padding: 12px 16px 12px 16px;
}
#filters {
  margin-bottom: 1%;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 1%;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  overflow: auto;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.dropdown-content input {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: none;
  width: 100%;
  border-bottom: 1px solid #2a6496;
  z-index: 10;
}

.dropdown input:hover {
  background-color: rgb(185, 185, 185);
}
.show {
  display: block;
}
.hide {
  display: none;
}
.active {
  background-color: rgb(185, 185, 185);
}
