.is-hidden {
  display: none;
}
body {
  /*cursor: url(../img/curosr_simon.png), auto;*/
}
#inputenbuttons {
  display: flex;
  align-items: center;
  /*border: 1px solid red;*/
  margin: 2% 10% 2% 10%;
}
#inputenbuttons button img {
  height: 20px;
}

#changeDisplay,
#showfilters {
  margin-right: 10px;
}
#inputenbuttons button {
  height: 40px;
  border: none;
  cursor: pointer;
}
#resetfilters {
  background-color: #2a6496;
  color: white;
  padding: 14px 20px;
  margin: 8px 10px 8px 0;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Varela Round', sans-serif;
}
#myInput {
  position: relative;
  background: #f1f1f1;
  height: 40px;
  width: 60%;
  padding: 12px 20px;
  margin: auto;
  border: 2px solid #ccc;
  border-radius: 4px;
  flex: 1;
}
#filters {
  width: 100%;
  display: none;
  margin: 0 auto;
  text-align: center;
  font-family: 'Varela Round', sans-serif;
}
#filters select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

#filters .checkboxen {
  display: inline-block;
  width: 15%;
}

#filters .checkboxen input[type='checkbox'] {
  height: 20px;
}
#allefilters {
  border: 1px solid red;
  width: 100%;
}
.checkbox-items {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border: 1px solid red;
  width: 100%;
}
.item {
  border: 1px solid green;
  background-color: yellow;
  height: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
#alles {
  min-height: 300px;
  justify-content: center;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
.list {
  display: list-item;
  list-style-type: none;
  margin: 0 2% 0 2%;
}
.shop-card {
  margin: 10px;
  width: 350px;
  height: 310px;
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  transition: 1s;
}
.shop-card:hover {
  cursor: pointer;
}
.shop-card:hover > .desc {
  opacity: 1%;
}
.shop-card:hover > .product img {
  transform: scale(1.1);
  margin-top: 5%;
}
.shop-card .title {
  font-weight: 1000;
  text-transform: uppercase;
  font-size: 23px;
  margin-bottom: 5px;
}
.shop-card .title .ondertitel {
  font-size: 18px;
}
.shop-card .desc {
  font-size: 15px;
  opacity: 0.8;
  color: #23211f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
.shop-card .desc div {
  width: 310px;
}
.shop-card .desc .solsleutel {
  width: 15%;
}
.shop-card .desc .instrument {
  width: 30%;
}
.onzichtbaar {
  position: absolute;
  color: transparent;
}
.product {
  margin: 10px 0;
}

.product img {
  width: 100%;
  object-fit: contain;
  transition: 1s;
}

.show {
  display: block;
}
.hide {
  display: none;
}
.active {
  background-color: rgb(185, 185, 185);
}
#toegepasteFilters {
  display: flex;
}
