.headerSheet {
  position: relative;
}
#osmdCanvas {
  max-width: 99%;
}
form {
  position: absolute;
  z-index: 10;
}
.details {
  position: relative;
  z-index: 10;
}
.main p {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  margin-top: 15px;
}

/*fullscreen maken*/
:fullscreen .wrapper {
  display: none;
}
:fullscreen p {
  display: none;
}
.beide {
  width: 420px;
  display: flex;
  margin: 24px 0 0 5%;
}
.wrapper {
  position: relative;
  width: 200px;
  margin-left: 20px;
  margin: auto;
  margin-right: 1%;
}

.wrapper a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #2a6496;
  border: 2px solid #2a6496;
  border-radius: 4px;
  letter-spacing: 2px;
  text-align: center;
  transition: all 0.35s;
  margin: auto;
}

.wrapper a span {
  position: relative;
  z-index: 2;
}

.wrapper a:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #2a6496;
  transition: all 0.35s;
  border-radius: 4px;
}

.wrapper a:hover {
  color: #fff;
}

.wrapper a:hover:after {
  width: 200px;
}
#loading-spinner {
  display: block;
  position: relative;
  margin: auto;
  width: 100px;
}
#loading-spinner:before {
  content: '';
  display: block;
  padding-top: 100%;
}
.circular {
  animation: rotate 1s ease-in infinite;
  height: 100%;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 80, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 80, 200;
    stroke-dashoffset: -40;
  }
  100% {
    stroke-dasharray: 40, 200;
    stroke-dashoffset: -80;
  }
}
@keyframes color {
  100%,
  0% {
    stroke: #2a6496;
  }
  50% {
    stroke: black;
  }
  80%,
  90% {
    stroke: #2a6496;
  }
}
.showbox {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;
}

#fullscreen-button {
  position: absolute;
  top: 0px;
  right: 20px;
  background: rgba(0, 0, 0, 0.05);
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  transition: transform 0.3s;
  font-size: 0;
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
  z-index: 10;
}
#fullscreen-button:hover {
  transform: scale(1.125);
}
#fullscreen-button span {
  width: 4px;
  height: 4px;
  border-top: 2.5px solid #111; /* color */
  border-left: 2.5px solid #111; /* color */
  position: absolute;
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;
  -webkit-perspective: 1000;
  transition: 0.3s;
  transition-delay: 0.75s;
}
#fullscreen-button span:nth-child(1) {
  top: 11px;
  left: 11px;
}
#fullscreen-button span:nth-child(2) {
  top: 11px;
  left: 22px;
  transform: rotate(90deg);
}
#fullscreen-button span:nth-child(3) {
  top: 22px;
  left: 11px;
  transform: rotate(-90deg);
}
#fullscreen-button span:nth-child(4) {
  top: 22px;
  left: 22px;
  transform: rotate(-180deg);
}

/* Fullscreen True
------------------------------*/
[fullscreen] #fullscreen-button {
  top: 21px;
}
[fullscreen] #fullscreen-button span:nth-child(1) {
  top: 22px;
  left: 22px;
}
[fullscreen] #fullscreen-button span:nth-child(2) {
  top: 22px;
  left: 11px;
}
[fullscreen] #fullscreen-button span:nth-child(3) {
  top: 11px;
  left: 22px;
}
[fullscreen] #fullscreen-button span:nth-child(4) {
  top: 11px;
  left: 11px;
}
[fullscreen] #fullscreen-button {
  margin-top: 0;
  position: absolute;
}
[fullscreen] header {
  display: none;
}
[fullscreen] footer {
  display: none;
}

/* Dark Style
------------------------------*/
[light-mode='dark'] {
  background: #111;
  color: #fff;
}
[light-mode='dark'] #fullscreen-button {
  background: rgba(255, 255, 255, 0.05);
}

[light-mode='dark'] #fullscreen-button span {
  border-top: 2.5px solid #fff;
  border-left: 2.5px solid #fff;
}
