.is-hidden {
  display: none;
}

#inputenbuttons {
  display: flex;
  align-items: center;
  margin: 2% 10% 0% 10%;
}
#inputenbuttons button img {
  height: 20px;
}

#changeDisplay,
#showfilters {
  margin-right: 10px;
}
#filters button,
#inputenbuttons button {
  height: 40px;
  border: none;
  cursor: pointer;
}
#resetfilters {
  background-color: #2a6496;
  color: white;
  margin: 8px 10px 20px 0;
  border-radius: 4px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: 'Varela Round', sans-serif;
  transition: 0.2s;
  width: 60%;
}
#resetfilters:hover {
  color: #2a6496;
  background-color: transparent;
  border: 2px solid #2a6496;
}
#myInput {
  position: relative;
  background: #f1f1f1;
  height: 40px;
  width: 60%;
  padding: 12px 20px;
  margin: auto;
  border: 2px solid #ccc;
  border-radius: 4px;
  flex: 1;
}
#filters {
  width: 20%;
  font-family: 'Varela Round', sans-serif;
  display: block;
  position: absolute;
  z-index: 10;
  background-color: #f1f1f5;
  height: 80vh;
  left: -20%;
  transition: left 0.5s ease-in-out;
  overflow-y: scroll;
}

.show {
  display: flex;
}
#filters .checkboxen {
  display: inline-block;
  margin-bottom: 20px;
}

.checkbox-items div input[type='checkbox'] {
  height: 25px;
  width: 25px;
  margin: 0 5px 0 0;
}

.checkboxen p:nth-child(1) {
  margin-bottom: 1%;
  cursor: pointer;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid grey;
}

.checkboxen div div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 7px;
}
#verberg {
  position: absolute;
  visibility: hidden;
}
#allefilters {
  width: 100%;
  padding: 4% 8% 2% 8%;
  text-align: left;
  display: flex;
  flex-direction: column;
  background-color: #f1f1f5;
  min-height: 80vh;
}

.checkbox-items {
  display: none;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
}

#alles {
  min-height: 300px;
  justify-content: center;
  margin: 2% 2% 2% 2%;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
.list {
  display: list-item;
  list-style-type: none;
  margin: 0 2% 0 2%;
}
.shop-card {
  margin: 10px;
  width: 350px;
  height: 310px;
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  transition: 1s;
}
.shop-card:hover {
  cursor: pointer;
}
.shop-card:hover > .desc {
  opacity: 1%;
}
.shop-card:hover > .product img {
  transform: scale(1.1);
  margin-top: 5%;
}
.shop-card .title {
  font-weight: 1000;
  text-transform: uppercase;
  font-size: 23px;
  margin-bottom: 5px;
}
.shop-card .title .ondertitel {
  font-size: 18px;
}
.shop-card .desc {
  font-size: 15px;
  opacity: 0.8;
  color: #23211f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
.shop-card .desc div {
  width: 310px;
}

.shop-card .desc .instrument {
  width: 30%;
}
.arrangement {
  margin-right: 50%;
  text-align: left;
}
.onzichtbaar {
  position: absolute;
  color: transparent;
}
.product {
  margin: 10px 0;
}

.product img {
  width: 100%;
  object-fit: contain;
  transition: 1s;
}

.show {
  display: block;
}
.hide {
  display: none;
}
.active {
  background-color: rgb(185, 185, 185);
}
#toegepasteFilters {
  display: flex;
  flex-direction: column;
  text-align: right;
  float: left;
  margin: 0 0 0 10px;
  position: absolute;
}
#toegepasteFilters form div {
  width: 100%;
}
#toegepasteFilters p {
  font-family: 'Varela Round', sans-serif;
}
#toegepasteFilters form {
  display: flex;
  align-items: center;
}
#toegepasteFilters button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: #2a6496;
  padding: 6px;
  font-family: 'Varela Round', sans-serif;
  border-radius: 4px;
}
.difficulty {
  height: 2rem;
  align-items: center;
  line-height: 2rem;
  border-radius: 4px;
  color: white;
  font-size: 0.8rem;
  width: 100%;
}
.beginner {
  background-color: rgb(9, 221, 9);
}
.amateur {
  background-color: green;
}
.intermediate {
  background-color: #2a6496;
}
.advanced {
  background-color: orange;
}
.expert {
  background-color: red;
}
.main p {
  font-family: 'Varela Round', sans-serif;
}
