.is-hidden {
  display: none;
}

#filters {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

#filters input[type='text'] {
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

#filters select {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

#filters button {
  width: 20%;
  background-color: #2a6496;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#filters .checkboxen {
  display: inline-block;
  margin-right: 20px;
}

#filters .checkboxen > div {
  display: inline-block;
}

#filters .checkboxen input[type='checkbox'] {
  margin: 8px 0;
}
#allefilters {
  /*display: flex;*/
  display: none;
  border: 1px solid red;
  width: 100%;
}
.checkbox-items {
  border: 1px solid green;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40%;
}
#myInput {
  width: 30%;
  margin-left: 15%;
  margin-right: 1rem;
  margin-top: 10px;
  position: relative;
  padding: 10px;
  border: 1px solid grey;
  background: #f1f1f1;
  height: 40px;
}
#alles {
  min-height: 300px;
  justify-content: center;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
.list {
  display: list-item;
}

.shop-card {
  margin: 10px;
  width: 350px;
  height: 310px;
  background: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  transition: 1s;
  /*border: 1.5px solid #2a6496;*/
}
.shop-card:hover {
  cursor: pointer;
}
.shop-card:hover > .desc {
  opacity: 1%;
}
.shop-card:hover > .product img {
  transform: scale(1.1);
  margin-top: 5%;
}
.shop-card .title {
  font-weight: 1000;
  text-transform: uppercase;
  font-size: 23px;
  margin-bottom: 5px;
}
.shop-card .title .ondertitel {
  font-size: 18px;
}
.shop-card .desc {
  font-size: 15px;
  opacity: 0.8;
  color: #23211f;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 1s;
}
.shop-card .desc div {
  width: 310px;
}
.shop-card .desc .solsleutel {
  width: 15%;
}
.shop-card .desc .instrument {
  width: 30%;
}
.onzichtbaar {
  position: absolute;
  color: transparent;
}
.product {
  margin: 10px 0;
}

.product img {
  width: 100%;
  object-fit: contain;
  transition: 1s;
}

.show {
  display: block;
}
.hide {
  display: none;
}
.active {
  background-color: rgb(185, 185, 185);
}
