.filterDiv {
  background-color: lightgrey;
  width: 950px;
  height: 450px;
  text-align: left;
  padding-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  margin-left: 15%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.filterDiv img {
  height: 430px;
  float: right;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 5;
  margin-right: 10px;
}
.filterDiv h2 {
  font-size: 1.8rem;
  color: #2a6496;
}
.filterDiv h3 {
  font-size: 1.3rem;
  color: #2a6496;
  padding: 0 0 15px 0;
}
.filterDiv p {
  grid-column: 1;
  font-size: 1rem;
  color: black;
}
.titel {
  grid-area: 1 / 1 / 2 / 4;
}
.genre {
  grid-area: 2 / 1 / 3 / 3;
}
.instruments {
  grid-area: 3 / 1 / 4 / 3;
}
.arrangement {
  grid-area: 4 / 1 / 5 / 3;
}
.difficulty {
  grid-area: 5 / 1 / 6 / 3;
}
.naarsheet {
  grid-area: 2 / 3 / 6 / 4;
}
.naarsheet button {
  border: none;
  height: 3rem;
  width: 8rem;
  cursor: pointer;
  color: #2a6496;
  background-color: white;
  transition: 1s;
  margin: auto;
}
.naarsheet button:hover {
  background-color: #2a6496;
  color: white;
}
.sheet {
  grid-area: 1 / 4 / 6 / 6;
}
.hidden {
  display: none;
}
#noResult {
  font-size: 25px;
  text-align: center;
  margin-top: 5%;
  position: absolute;
  width: 100%;
}
#myUL {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  width: 80%;
  margin-left: 20%;
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr;
  position: absolute;
}
.show {
  display: block;
}
.is-hidden {
  display: none;
}
.titeltje {
  text-decoration: underline;
  margin-bottom: 2%;
}
#filters {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  margin-left: 3%;
  margin-top: 2%;
  background-color: lightgrey;
  width: 20%;
  height: 60vh;
  padding: 1%;
  position: fixed;
}
#myInput {
  width: 30%;
  margin: 0.5% 0 0 5%;
  position: absolute;
  z-index: 10;
  padding: 10px;
  border: 1px solid grey;
  background: #f1f1f1;
}
.checkbox {
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
.check {
  background-color: #f1f1f1;
  color: #2a6496;
}
.check.active {
  background-color: #2a6496;
  color: white;
  border: 2px solid red;
  font-size: 2rem;
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  color: #2a6496;
  cursor: pointer;
  margin: 2%;
  transition: 1s;
}
.btn.active {
  background-color: #2a6496;
  color: white;
}
