.filterDiv {
  float: left;
  background-color: #2a6496;
  color: #ffffff;
  width: 50%;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  line-height: 100px;
  height: 100px;
  margin: 2px;
  margin-left: 25%;
}
.show {
  display: block;
}
.is-hidden {
  display: none;
}
p {
  text-decoration: underline;
  margin-bottom: 2%;
}
#filters {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  margin-left: 3%;
  background-color: lightgrey;
  width: 20%;
  height: 50vh;
  padding: 1%;
  position: absolute;
}
#myInput {
  width: 20%;
  margin: 0 40% 2% 40%;
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  margin: 2%;
}
.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
#myUL {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  width: 50%;
  margin-left: 25%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
