.filterDiv {
  float: left;
  background-color: #2a6496;
  color: #ffffff;
  width: 100px;
  line-height: 100px;
  text-align: center;
  margin: 2px;
  display: none;
}
.show {
  display: block;
}
.is-hidden {
  display: none;
}
#myBtnContainer {
  width: 20%;
  border: 1px solid black;
  float: left;
  margin-top: 20px;
}
/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
