.headerSheet {
  position: relative;
}
#osmdCanvas {
  max-width: 99%;
}
.headerSheet {
  position: relative;
}

/*fullscreen maken*/
:fullscreen .headerSheet {
  display: none;
}
img {
  width: 25px;
  cursor: pointer;
  position: absolute;
  z-index: 10;
}

#fullscreen-button {
  position: absolute;
  top: 221px;
  right: 20px;
  background: rgba(0, 0, 0, 0.05);
  border: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-sizing: border-box;
  transition: transform 0.3s;
  font-size: 0;
  opacity: 1;
  pointer-events: auto;
  cursor: pointer;
  z-index: 10;
}
#fullscreen-button:hover {
  transform: scale(1.125);
}
#fullscreen-button span {
  width: 4px;
  height: 4px;
  border-top: 2.5px solid #111; /* color */
  border-left: 2.5px solid #111; /* color */
  position: absolute;
  outline: 1px solid transparent;
  -webkit-backface-visibility: hidden;
  transform: translateZ(0);
  will-change: transform;
  -webkit-perspective: 1000;
  transition: 0.3s;
  transition-delay: 0.75s;
}
#fullscreen-button span:nth-child(1) {
  top: 11px;
  left: 11px;
}
#fullscreen-button span:nth-child(2) {
  top: 11px;
  left: 22px;
  transform: rotate(90deg);
}
#fullscreen-button span:nth-child(3) {
  top: 22px;
  left: 11px;
  transform: rotate(-90deg);
}
#fullscreen-button span:nth-child(4) {
  top: 22px;
  left: 22px;
  transform: rotate(-180deg);
}

/* Fullscreen True
------------------------------*/
[fullscreen] #fullscreen-button {
  top: 21px;
}
[fullscreen] #fullscreen-button span:nth-child(1) {
  top: 22px;
  left: 22px;
}
[fullscreen] #fullscreen-button span:nth-child(2) {
  top: 22px;
  left: 11px;
}
[fullscreen] #fullscreen-button span:nth-child(3) {
  top: 11px;
  left: 22px;
}
[fullscreen] #fullscreen-button span:nth-child(4) {
  top: 11px;
  left: 11px;
}
[fullscreen] #fullscreen-button {
  margin-top: 0;
  position: absolute;
}

/* Dark Style
------------------------------*/
[light-mode='dark'] {
  background: #111;
  color: #fff;
}
[light-mode='dark'] #fullscreen-button {
  background: rgba(255, 255, 255, 0.05);
}

[light-mode='dark'] #fullscreen-button span {
  border-top: 2.5px solid #fff;
  border-left: 2.5px solid #fff;
}
