button {
  cursor: pointer;
}
.subscribe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
.links {
  text-decoration: none;
  text-align: center;
}
.main {
  text-align: left;
}
#contentSubscription p {
  font-family: 'Varela Round', sans-serif;
  line-height: 2rem;
  text-align: left;
}
#contentSubscription {
  width: 50%;
  margin: auto;
  margin-top: 2%;
}
.wrapper {
  position: relative;
  width: 200px;
  margin: auto;
  margin-bottom: 1%;
  margin-right: 1%;
}

.wrapper a {
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  color: #2a6496;
  border: 2px solid #2a6496;
  border-radius: 4px;
  letter-spacing: 2px;
  text-align: center;
  transition: all 0.35s;
  margin: auto;
  font-family: 'Varela Round', sans-serif;
  font-weight: 600;
}

.wrapper a span {
  position: relative;
  z-index: 2;
}

.wrapper a:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #2a6496;
  transition: all 0.35s;
  border-radius: 4px;
}

.wrapper a:hover {
  color: #fff;
}

.wrapper a:hover:after {
  width: 200px;
}
#wrapperAlign {
  display: flex;
  align-items: center;
  margin: 1% 0 1% 0;
  width: 50%;
}
