button {
  cursor: pointer;
}
.subscribe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}
.links {
  text-decoration: none;
  text-align: center;
}
.main {
  text-align: center;
}
